/obj/Debug/net9.0-windows/Presentation/Controls/HeartMonitorGraph.baml
/obj/Debug/net9.0-windows/Presentation/Controls/HeartMonitorGraph.g.cs
/obj/Debug/net9.0-windows/Presentation/Views/PatientDetailsWindow.baml
/obj/Debug/net9.0-windows/Presentation/Views/PatientDetailsWindow.g.cs
/obj/Debug/net9.0-windows/refint/WPFTest.dll
/obj/Debug/net9.0-windows/ref/WPFTest.dll
/obj/Debug/net9.0-windows/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/obj/Debug/net9.0-windows/App.g.cs
/obj/Debug/net9.0-windows/apphost.exe
/obj/Debug/net9.0-windows/MainWindow.baml
/obj/Debug/net9.0-windows/MainWindow.g.cs
/obj/Debug/net9.0-windows/WPFTest_03l1ez04_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_03l1ez04_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_03l1ez04_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_03l1ez04_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_03l1ez04_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_0fb2xuem_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_0fb2xuem_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_0fb2xuem_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_0fb2xuem_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_0fb2xuem_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_0kk2ckwf_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_0kk2ckwf_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_0kk2ckwf_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_0kk2ckwf_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_0kk2ckwf_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_0ofw5ktl_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_0ofw5ktl_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_0ofw5ktl_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_0ofw5ktl_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_0ofw5ktl_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_0xz1pbgz_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_0xz1pbgz_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_0xz1pbgz_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_0xz1pbgz_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_0xz1pbgz_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_12mctpfk_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_12mctpfk_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_12mctpfk_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_12mctpfk_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_12mctpfk_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_13kjqolf_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_13kjqolf_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_13kjqolf_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_13kjqolf_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_13kjqolf_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_1cufkljk_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_1cufkljk_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_1cufkljk_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_1cufkljk_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_1cufkljk_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_1x1ts5ya_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_1x1ts5ya_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_1x1ts5ya_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_1x1ts5ya_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_1x1ts5ya_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_2ov1tsrq_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_2ov1tsrq_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_2ov1tsrq_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_2ov1tsrq_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_2ov1tsrq_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_3mxorpb3_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_3mxorpb3_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_3mxorpb3_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_3mxorpb3_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_3mxorpb3_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_4g55a2mz_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_4g55a2mz_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_4g55a2mz_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_4g55a2mz_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_4g55a2mz_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_4s1ur5xl_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_4s1ur5xl_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_4s1ur5xl_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_4s1ur5xl_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_4s1ur5xl_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_5d3dtj2j_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_5d3dtj2j_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_5d3dtj2j_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_5d3dtj2j_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_5d3dtj2j_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_5s5enzzk_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_5s5enzzk_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_5s5enzzk_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_5s5enzzk_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_5s5enzzk_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_a3nwbkpn_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_a3nwbkpn_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_a3nwbkpn_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_a3nwbkpn_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_a3nwbkpn_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_a5evsegk_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_a5evsegk_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_a5evsegk_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_a5evsegk_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_a5evsegk_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_ah530z4s_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_ah530z4s_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_ah530z4s_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_ah530z4s_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_ah530z4s_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_aiciiwiz_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_aiciiwiz_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_aiciiwiz_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_aiciiwiz_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_aiciiwiz_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_bc1adtio_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_bc1adtio_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_bc1adtio_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_bc1adtio_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_bc1adtio_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_capql5ez_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_capql5ez_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_capql5ez_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_capql5ez_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_capql5ez_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_ccqghl2s_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_ccqghl2s_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_ccqghl2s_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_ccqghl2s_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_ccqghl2s_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_dtrqbze1_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_dtrqbze1_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_dtrqbze1_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_dtrqbze1_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_dtrqbze1_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_eahv2r3x_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_eahv2r3x_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_eahv2r3x_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_eahv2r3x_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_eahv2r3x_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_epdy24sk_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_epdy24sk_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_epdy24sk_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_epdy24sk_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_epdy24sk_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_gk4f4mcm_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_gk4f4mcm_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_gk4f4mcm_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_gk4f4mcm_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_gk4f4mcm_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_hnlp3viz_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_hnlp3viz_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_hnlp3viz_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_hnlp3viz_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_hnlp3viz_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_inq51s1n_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_inq51s1n_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_inq51s1n_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_inq51s1n_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_inq51s1n_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_j2reokef_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_j2reokef_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_j2reokef_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_j2reokef_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_j2reokef_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_j3dvchnh_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_j3dvchnh_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_j3dvchnh_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_j3dvchnh_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_j3dvchnh_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_j5tinl11_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_j5tinl11_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_j5tinl11_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_j5tinl11_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_j5tinl11_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_jb2l0rhp_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_jb2l0rhp_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_jb2l0rhp_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_jb2l0rhp_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_jb2l0rhp_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_jtjkekub_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_jtjkekub_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_jtjkekub_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_jtjkekub_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_jtjkekub_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_jvtjgaxi_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_jvtjgaxi_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_jvtjgaxi_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_jvtjgaxi_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_jvtjgaxi_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_kx3onpff_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_kx3onpff_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_kx3onpff_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_kx3onpff_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_kx3onpff_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_l4yrnrgq_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_l4yrnrgq_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_l4yrnrgq_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_l4yrnrgq_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_l4yrnrgq_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_lktngfin_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_lktngfin_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_lktngfin_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_lktngfin_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_lktngfin_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_lloi5wop_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_lloi5wop_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_lloi5wop_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_lloi5wop_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_lloi5wop_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_MarkupCompile.cache
/obj/Debug/net9.0-windows/WPFTest_monqzl2c_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_monqzl2c_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_monqzl2c_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_monqzl2c_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_monqzl2c_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_myykpsuu_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_myykpsuu_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_myykpsuu_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_myykpsuu_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_myykpsuu_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_pykf2ahu_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_pykf2ahu_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_pykf2ahu_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_pykf2ahu_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_pykf2ahu_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_pz1nb1mv_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_pz1nb1mv_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_pz1nb1mv_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_pz1nb1mv_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_pz1nb1mv_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_pzrvh254_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_pzrvh254_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_pzrvh254_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_pzrvh254_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_pzrvh254_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_qht4qwgx_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_qht4qwgx_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_qht4qwgx_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_qht4qwgx_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_qht4qwgx_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_r33e3ujs_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_r33e3ujs_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_r33e3ujs_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_r33e3ujs_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_r33e3ujs_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_ru5bq0gt_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_ru5bq0gt_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_ru5bq0gt_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_ru5bq0gt_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_ru5bq0gt_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_sfph2hhk_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_sfph2hhk_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_sfph2hhk_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_sfph2hhk_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_sfph2hhk_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_stmnwoxa_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_stmnwoxa_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_stmnwoxa_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_stmnwoxa_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_stmnwoxa_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_uhdxftx5_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_uhdxftx5_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_uhdxftx5_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_uhdxftx5_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_uhdxftx5_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_ujonknpi_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_ujonknpi_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_ujonknpi_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_ujonknpi_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_ujonknpi_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_upjzfzxl_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_upjzfzxl_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_upjzfzxl_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_upjzfzxl_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_upjzfzxl_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_vcx1br5y_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_vcx1br5y_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_vcx1br5y_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_vcx1br5y_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_vcx1br5y_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_wpkkcwua_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_wpkkcwua_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_wpkkcwua_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_wpkkcwua_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_wpkkcwua_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_wrsycfgj_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_wrsycfgj_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_wrsycfgj_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_wrsycfgj_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_wrsycfgj_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_wsjk1yd4_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_wsjk1yd4_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_wsjk1yd4_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_wsjk1yd4_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_wsjk1yd4_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_yfhfqisu_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_yfhfqisu_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_yfhfqisu_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_yfhfqisu_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_yfhfqisu_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_ylb4ynkh_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_ylb4ynkh_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_ylb4ynkh_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_ylb4ynkh_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_ylb4ynkh_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_yyd5og40_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_yyd5og40_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_yyd5og40_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_yyd5og40_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_yyd5og40_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest_zgewp3iy_wpftmp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest_zgewp3iy_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest_zgewp3iy_wpftmp.assets.cache
/obj/Debug/net9.0-windows/WPFTest_zgewp3iy_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest_zgewp3iy_wpftmp.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest.AssemblyInfo.cs
/obj/Debug/net9.0-windows/WPFTest.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/WPFTest.assets.cache
/obj/Debug/net9.0-windows/WPFTest.csproj.AssemblyReference.cache
/obj/Debug/net9.0-windows/WPFTest.csproj.CoreCompileInputs.cache
/obj/Debug/net9.0-windows/WPFTest.csproj.FileListAbsolute.txt
/obj/Debug/net9.0-windows/WPFTest.csproj.Up2Date
/obj/Debug/net9.0-windows/WPFTest.dll
/obj/Debug/net9.0-windows/WPFTest.g.resources
/obj/Debug/net9.0-windows/WPFTest.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/WPFTest.genruntimeconfig.cache
/obj/Debug/net9.0-windows/WPFTest.GlobalUsings.g.cs
/obj/Debug/net9.0-windows/WPFTest.pdb
/obj/project.assets.json
/obj/project.nuget.cache
/obj/WPFTest_0fb2xuem_wpftmp.csproj.nuget.dgspec.json
/obj/WPFTest_0fb2xuem_wpftmp.csproj.nuget.g.props
/obj/WPFTest_0fb2xuem_wpftmp.csproj.nuget.g.targets
/obj/WPFTest_0ofw5ktl_wpftmp.csproj.nuget.dgspec.json
/obj/WPFTest_0ofw5ktl_wpftmp.csproj.nuget.g.props
/obj/WPFTest_0ofw5ktl_wpftmp.csproj.nuget.g.targets
/obj/WPFTest_12mctpfk_wpftmp.csproj.nuget.dgspec.json
/obj/WPFTest_12mctpfk_wpftmp.csproj.nuget.g.props
/obj/WPFTest_12mctpfk_wpftmp.csproj.nuget.g.targets
/obj/WPFTest_13kjqolf_wpftmp.csproj.nuget.dgspec.json
/obj/WPFTest_13kjqolf_wpftmp.csproj.nuget.g.props
/obj/WPFTest_13kjqolf_wpftmp.csproj.nuget.g.targets
/obj/WPFTest_a5evsegk_wpftmp.csproj.nuget.dgspec.json
/obj/WPFTest_a5evsegk_wpftmp.csproj.nuget.g.props
/obj/WPFTest_a5evsegk_wpftmp.csproj.nuget.g.targets
/obj/WPFTest_ah530z4s_wpftmp.csproj.nuget.dgspec.json
/obj/WPFTest_ah530z4s_wpftmp.csproj.nuget.g.props
/obj/WPFTest_ah530z4s_wpftmp.csproj.nuget.g.targets
/obj/WPFTest_dtrqbze1_wpftmp.csproj.nuget.dgspec.json
/obj/WPFTest_dtrqbze1_wpftmp.csproj.nuget.g.props
/obj/WPFTest_dtrqbze1_wpftmp.csproj.nuget.g.targets
/obj/WPFTest_gk4f4mcm_wpftmp.csproj.nuget.dgspec.json
/obj/WPFTest_gk4f4mcm_wpftmp.csproj.nuget.g.props
/obj/WPFTest_gk4f4mcm_wpftmp.csproj.nuget.g.targets
/obj/WPFTest_kx3onpff_wpftmp.csproj.nuget.dgspec.json
/obj/WPFTest_kx3onpff_wpftmp.csproj.nuget.g.props
/obj/WPFTest_kx3onpff_wpftmp.csproj.nuget.g.targets
/obj/WPFTest_lloi5wop_wpftmp.csproj.nuget.dgspec.json
/obj/WPFTest_lloi5wop_wpftmp.csproj.nuget.g.props
/obj/WPFTest_lloi5wop_wpftmp.csproj.nuget.g.targets
/obj/WPFTest_pykf2ahu_wpftmp.csproj.nuget.dgspec.json
/obj/WPFTest_pykf2ahu_wpftmp.csproj.nuget.g.props
/obj/WPFTest_pykf2ahu_wpftmp.csproj.nuget.g.targets
/obj/WPFTest_qht4qwgx_wpftmp.csproj.nuget.dgspec.json
/obj/WPFTest_qht4qwgx_wpftmp.csproj.nuget.g.props
/obj/WPFTest_qht4qwgx_wpftmp.csproj.nuget.g.targets
/obj/WPFTest_ru5bq0gt_wpftmp.csproj.nuget.dgspec.json
/obj/WPFTest_ru5bq0gt_wpftmp.csproj.nuget.g.props
/obj/WPFTest_ru5bq0gt_wpftmp.csproj.nuget.g.targets
/obj/WPFTest_sfph2hhk_wpftmp.csproj.nuget.dgspec.json
/obj/WPFTest_sfph2hhk_wpftmp.csproj.nuget.g.props
/obj/WPFTest_sfph2hhk_wpftmp.csproj.nuget.g.targets
/obj/WPFTest_yyd5og40_wpftmp.csproj.nuget.dgspec.json
/obj/WPFTest_yyd5og40_wpftmp.csproj.nuget.g.props
/obj/WPFTest_yyd5og40_wpftmp.csproj.nuget.g.targets
/obj/WPFTest.csproj.nuget.dgspec.json
/obj/WPFTest.csproj.nuget.g.props
/obj/WPFTest.csproj.nuget.g.targets
bin/
